@model WebApplication2.Models.Contact
@{
    ViewBag.Title = "Contact";
}
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

<table class="table tab-content">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>

        </tr>

    </thead>
    <tbody>
        <tr>
            <td>@Model.id</td>
            <td>@Model.name</td>
            <td>@Model.address</td>
            <td>@Model.mobile</td>


        </tr>
    </tbody>



</table>